/*Первое дз пе*/
@charset "UTF-8";
/* Обнуление стилей */
* {
  margin: 0;
  padding: 0;
}
html {
    scroll-behavior: smooth;
}

.page {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}
.header{
    background: rgb(225, 255, 143);
    background-image: url('back.jpeg');
    width: 1440px;
    
    display: flex;
    flex-direction: column;
    gap: 156px;
    overflow: hidden;
}
.header__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 120px;
    padding-top: 196px;
}
.header__title {
    width: 769px;
    
    color:  rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}
.header__subtitle{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}
.header__button { 
    width: 247px;
    height: 66px;
    margin-top: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: center;
    /* Сохраняем существующие стили кнопки */
    display: inline-block;
    text-decoration: none; /* Убираем подчеркивание ссылки */
}
.header__button-text {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height:32px;
    letter-spacing: 0%;
    text-align: center;   
    
}
.header__footer {
background: rgb(188, 236, 48);
background-image: url(type.png);
width: 3220px;
height: 90px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.2);
backdrop-filter: blur(50px);
}
.games{
background-color: rgb(32, 32, 39);
background-image: url(2SEC.jpeg);
width: 1440px;

display: flex;
flex-direction: column;
}
.games__content{
padding-left: 119px; ;
}
.games__title{
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 78px;
letter-spacing: 0px;
text-align: left;
margin-top: 97px;

}
.games__subtitle {
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: left; 
margin-top: 24px ;
margin-bottom: 72px; 
}
.games__list{
display: flex;
flex-direction: row;
gap: 32px;
flex-wrap: wrap;
align-items: flex-start;
}
.game-card{
border-radius: 30px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: column;
}
.game-card__image{
width: 378px;
height: 314px;
}
.game-card__content{
display: flex;
flex-direction: column;
gap: 16px;
padding: 32px;
padding-bottom: 36px;
}

.game-card__number{
width: 108px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 8px 16px 10px 16px;
border-radius: 52.58px;
background: rgb(247, 247, 247);
color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 110%;
letter-spacing: 0px;
text-align: left;
}
.game-card__name{
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;
color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0px;
text-align: left;
}
.special{
    padding: 32px 32px 36px 32px;   
}